---
layout: default
title: Home
---

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      {% for post in paginator.posts %}
        <div class="col-md-4">
          <h2>{{ post.title }}</h2>
          <span class="post-date">{{ post.date | date_to_string }}</span>
          {{ post.excerpt }}
          <a class="post-more" href={{ post.url }}>More >></a>
        </div>
      {% endfor %}
          <nav>
            <ul class="pager">
              {% if paginator.next_page %}
                <li class="previous disabled"><a href="{{ site.baseurl }}/page{{paginator.next_page}}"><span aria-hidden="true">&larr;</span> Older</a></li>
              {% else %}
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
              {% endif %}
              {% if paginator.previous_page %}
                {% if paginator.page == 2 %}
                  <li class="next"><a href="{{ site.baseurl }}/">Newer <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                  <li class="next"><a href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
              {% else %}
                <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
              {% endif %}
            </ul>
          </nav>
      </div>
   </div>
