html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 50px;
  margin-bottom: 100px; /*Edit footer height according to this*/
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size:18px;
}
.navbar{
  box-shadow:2px 2px 3px #888;
}
.navbar-brand{
  font-size:30px;
}
.post-date{
  display:block;
  color:gray;
}
.post-more{
  display:inline-block;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  overflow:hidden;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
